<h1>Listing messages ( <%= @user ? @user.name : "All" %> ) </h1>
  <%= link_to '+', new_message_path %>
  <%= link_to 'All', messages_path %>
  <% User.all.each do |user| %>

  	<%= link_to user.name, messages_path(user_id: user.id) %>	
	<% end %>
  
  <br>
  <br>

    <% @messages.each do |message| %>
    <%= render partial: "message", locals:{message: message} %>
  <% end %>    
    
<br>

